<!--<div style="margin-left: 500px; align-items: center; margin-top: 70px;">
	<h1 class="h2 pb-1" style="margin-right: 10px;">All Categorie</h1>
	<button mat-button (click)="open()">Open dialog</button>	</div>
  <div class="container" style="margin-top:50px;">
	<div class="row"  >
		<div class="col-md-3" *ngFor="let categorie of listeCategorie">
			<div class="card-sl">
				<div class="card-image">
					<img
						[src]="categorie.imagecategorie" />
				</div>

				<a class="card-action" routerLink="/viewCategorie" (click)="confirmDelete(categorie.id)"><i class="fa fa-trash"></i></a>
				<div class="card-heading">
				{{categorie.nomcategorie}}
				</div>
				
				<a routerLink="/edit/{{categorie.id}}" class="card-button"> Update</a>
			</div>
		</div>
	</div>  -->
	<app-navbar></app-navbar>
	<section id="portfolio" class="section-bg">
		<div class="container" data-aos="fade-up">
	  
			<header class="section-header" >
				<h3 class="section-title" style="margin-top: 20px;">Comptes</h3>
				<li *ngIf="authser.roles.includes('ADMIN')">
				<a (click)="open()" style="margin-left: 1000px;" class="btn btn-success" ><i class="fa fa-plus" title="add category"></i><span class="txt">Ajouter comptes</span> </a>
</li>
			</header>
	
			<div class="row">
				<div *ngFor="let compte of listCompte" class="col-lg-4 col-md-4 portfolio-item filter-app">
					<div class="portfolio-wrap" >
						<figure>
							<img src="../../assets/img/nn.png" alt="Free Website Template by Free-Template.co" style="margin-top: -40px;">
							<a  class="link-preview portfolio-lightbox"  data-gallery="portfolioGallery" title="Edit" (click)="onedit(compte.rib)">
								<i class="fa fa-pen"></i>
							</a>
							<a  (click)="confirmDelete(compte.rib)" class="link-details" title="Delete">
								<i  class="fa fa-trash"></i>
							</a>
						</figure>
			
						<div class="portfolio-info" style="height: 160px; display: flex; flex-direction: column; align-items: flex-start;">
							<h4 style="display: flex; align-items: center;">
								<i class="fa fa-id-card" style="margin-right: 5px;font-size: 17px;" title="Identifiant du compte"></i>
								<p> <span style="color:black"> rib :</span> {{compte.rib}}</p>
							</h4>
							<div style="display: flex; align-items: center;">
								<i class="fa fa-calendar-check" style="margin-right: 5px; font-size: 17px;" title="Date de création"></i>
								<p><span style="color:black">Date de création:</span> {{compte.createdAt | date:'yyyy/mm/dd'}}</p>
							</div>
							<div style="display: flex; align-items: center;">
								<i class="fa fa-money-bill-wave" style="margin-right: 5px;font-size: 15px;margin-top: 15px;" title="Solde"></i>
								<p style="margin-top: 15px;"><span style="color:black"> Solde:</span> {{compte.solde}}</p>
							</div>
							
						</div>
						</div>
				</div>
			</div>
	
		</div>
	</section>
	